@model TeamInfoAPI.Models.TeamMember

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TeamMember</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FullName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FullName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Birthdate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Birthdate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CollegeProgram)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CollegeProgram)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.YearInProgram)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.YearInProgram)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
